
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

.page_title {
    color: #383636;
    font-family: Arial, sans-serif;
}

/* main content */
.container {
    max-width: 3000px;
    margin: 0;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* FORM STYLES*/
/* student registration form */
.student-form {
    display: grid;
    gap: 15px;
    margin-bottom: 30px;
}
/* input fields*/
.student-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.student-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

/* Table styles */
.student-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.student-table th, 
.student-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.student-table tr {
    color: #383636;
    font-family: Arial, sans-serif;
}

.student-table th {
    background-color: #f2f2f2;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}

.btn-edit {
    background-color: #4CAF50;
}

.btn-delete {
    background-color: #f44336;
    border: none;
    cursor: pointer;
}

.btn-cancel {
    background-color: #ccc;
    color: #333;
    margin-left: 10px;
}

.duplicate-error {
    color: #d32f2f;
    background-color: #ffebee;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 15px;
}