{% extends "base.html" %}


{% block head %}
<title>Task Master</title>
{%endblock%}

{% block body %}
<div class="container">
    <h1 style = "text-align: center;">Update Student</h1>

    
    <form method="POST" class="student-form">
        <input type="text" name="first_name" value="{{ student.first_name }}" required>
        <input type="text" name="last_name" value="{{ student.last_name }}" required>
        <input type="text" name="student_id" value="{{ student.student_id }}" required>
        <input type="email" name="email" value="{{ student.email }}" required>
        <input type="text" name="parents_full_name" value="{{ student.parents_full_name }}" required>
        <input type="date" name="dob" value="{{ student.dob }}" required>
        <input type="text" name="address" value="{{ student.address }}" required>
        <input type="text" name="phone_number" value="{{ student.phone_number }}" required>
        <input type="select" name="courses" value="{{ student.courses }}" required>

        <button type="submit">Update</button>
        <a href="{{ url_for('index') }}" class="btn btn-cancel">Cancel</a>
    </form>
</div>
{% endblock %}